*{
  text-align: center;
}

body{
  background-color: #dad8d8;
  padding-top: 0;
}

.header {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  color: black;
  padding-top: 0 10px;
  text-shadow: -1px 0 black, 0 1px 0 black, 0 -1px black;
}
.contacts{
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}
.mb-3{
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}
.form-control{
  min-width: 340px;
  max-width: 400px;
  margin: 20px auto;
  padding: 8px 5px;
  border-radius: 10px;
  box-shadow: 4px 4px 12px rgba(25, 25, 25, 0.8);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  text-align: justify;
  display: flex;
}
.btn-btn-primary{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  background-color: black;
  color: #fff;
  border: 1px solid #eee;
  border-radius: 20px;
  box-shadow: none;
  height: 30px;
  width: 100px;
  
}
.btn-btn-primary:hover{
  background: gray;
  border: 1px solid #eee;
  border-radius: 20px;
  box-shadow: 5px 5px 5px #eee;
  text-shadow: none;
}
.editar{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  background-color:rgb(246, 93, 93);
  color: #fff;
  border: 1px solid #eee;
  border-radius: 20px;
  box-shadow: none;
  height: 30px;
  width: 100px;
  
}
.editar:hover{
  background: gray;
  border: 1px solid #eee;
  border-radius: 20px;
  box-shadow: 5px 5px 5px #eee;
  text-shadow: none;
  border-style:groove;
}.excluir{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  background-color:green;
  color: #fff;
  border: 1px solid #eee;
  border-radius: 20px;
  box-shadow: none;
  height: 30px;
  width: 100px;
  
}
.excluir:hover{
  background: gray;
  border: 1px solid #eee;
  border-radius: 20px;
  box-shadow: 5px 5px 5px #eee;
  text-shadow: none;
  border-style:groove;
}
.btnbtn-primary{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  background-color: black;
  color: #fff;
  border: 1px solid #eee;
  border-radius: 20px;
  box-shadow: none;
  height: 30px;
  width: 100px;
  }
  .btnbtn-primary:hover{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    background-color:grey;
    color: #fff;
    border: 1px solid #eee;
    border-radius: 20px;
    box-shadow: none;
    height: 30px;
    width: 100px;  
}
